/* Font */
@font-face {
  font-family: "Nazanin";
  src: url("src/nazanin.ttf");
}

@media (max-width: 600px) {
  #SmallScreen {
    display: none;
  }
  #BigScreen {
    display: all;
  }

  /* Nav bar padding */
  body {
    padding-top: 120px;
    font-family: Nazanin;
  }

  /* Header */
  #my_header {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
        to right,
        rgba(117, 19, 93, 0.75),
        rgba(20, 38, 207, 0.75)
      ),
      url("src/stock.webp");
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: red;
    /* padding: 20px; */
  }

  #curve {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .skill:hover {
    transform: scale(1.2);
  }

  .skill_box_header {
    border-radius: 50px;
    background-color: #fc6986be;
  }

  .skill_box {
    width: 30rem;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 9px grey;
  }

  /* Gallery */
  .img__wrap {
    position: relative;
    height: 100%;
  }

  .img__introduction {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(128, 128, 128, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;

    top: calc(100%);
    transition: all 0.7s;
    height: 0px;
    will-change: top;
  }

  .img__wrap:hover .img__introduction {
    visibility: visible;
    opacity: 1;
    height: 100%;
    top: 0;
  }

  .contact_us_logo:hover {
    transform: scale(1.5);
    transition: all 1s;
    background: #fc6986be;
  }
  .card-hover:hover {
    margin: 0rem !important;
  }
  .lorm_btn {
    position: relative;
    color: white;
    font-family: El Messiri;
    font-size: 1.5rem;
    border-radius: 1rem;
    top: 12rem;
    right: 55rem;
  }
  .lorm_h {
    position: relative;
    top: 10rem;
    right: 55rem;
    width: 40rem;
    color: black;
    font-size: 5rem;
    font-family: El Messiri;
    z-index: 1;
  }
  .lorm_p {
    position: relative;
    top: 10rem;
    right: 55rem;
    color: gray;
    width: 40rem;
    font-size: 1rem;
    font-family: El Messiri;
    z-index: 1;
  }

  /* Activities */
  .image-parent{
    position:relative;
    width:600px;
    height:400px;
  }
  
  .image-top-position {
    position:absolute;
    top:0;
    left:0;
    width:80%;
  }

  .image-bot-position {
    position:absolute;
    bottom:0;
    right:0;
    width:80%;
  }

  .image-top-index {
    z-index:1;
  }

  .image-bot-index {
    z-index:0;
  }

  .image-bot-index:hover {
    z-index: 2;
  }
  

  #contact_us_text:hover {
    transform: scale(1.5);
    transition: all 1s;
  }

  /* Popup container */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media (min-width: 600px) {
  #SmallScreen {
    display: all;
  }
  #BigScreen {
    display: none;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .active {
    background-color: black;
    color: white;
  }

  /* Small header */
  #small_header {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
        to right,
        rgba(117, 19, 93, 0.75),
        rgba(20, 38, 207, 0.75)
      ),
      url("src/stock.webp");
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: red;
  }

  .small_lorm_h {
    position: relative;
    top: 10rem;
    right: 55rem;
    width: 40rem;
    color: black;
    font-size: 5rem;
    font-family: El Messiri;
    z-index: 1;
  }
  .small_lorm_p {
    position: relative;
    top: 10rem;
    right: 55rem;
    color: gray;
    width: 40rem;
    font-size: 1rem;
    font-family: El Messiri;
    z-index: 1;
  }
  .small_lorm_btn {
    position: relative;
    color: white;
    font-family: El Messiri;
    font-size: 1.5rem;
    border-radius: 1rem;
    top: 12rem;
    right: 55rem;
  }
  .small_skill_box {
    width: 30rem;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 9px grey;
  }
  .skill_box_header {
    border-radius: 50px;
    background-color: #fc6986be;
  }

  .skill:hover {
    transform: scale(1.2);
  }

  .card-hover:hover {
    transform: scale(1.2);
  }
}
