/* Nav bar padding */
body {
  padding-top: 130px;
}

#my_header {
  position: relative;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to right,
      rgba(117, 19, 93, 0.73),
      rgba(20, 38, 207, 0.73)
    ),
    url("src/stock.webp");
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: red;
  padding: 20px;
  opacity: 0.63;
}

#curve {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#sec2 {
  width: 100%;
  height: 100vh;
  background: #fff;
}
